html,
body {
    height: 100%;
}
html {
    display: table;
    margin: auto;
}
body {
    display: table-cell;
    vertical-align: middle;
}
h1 {
    text-align: center;
}
form li {
    list-style: none;
}
.sideli {
    display: inline-block;
    zoom: 1;
    *display: inline;
}
.err {
    color: red;
}
.leftli {
    float: right;
    margin-right: 180px;
}
.leftkidsli {
    float: right;
    margin-right: 200px;
}
[name="login"] {
    margin-left: 70px;
    font-weight: bold;
}
[id="btn"] {
    font-size: 18px;
}